<div ng-controller="HeightMeasurementsController">
<form>
	<div class="form-group row">
		<div class="col-xs-2">
			<div class="input-group dt-sc-team">
				<label for="heightValue">Value</label>
				<input class="form-control left-border-none input-with-icon"
					   placeholder="Height" type="number" step="0.01"
					   name="heightValue"
					   id="heightValue"
					   ng-model="height.measurement.value">
			</div>
		</div>
		<div class="col-xs-2">
			<label>Date</label>
			<div class="form-group">
				<div class="input-group dt-sc-team">
					<input class="form-control left-border-none input-with-icon"
						   placeholder="Date of measurement"
						   type="text"
						   is-open="datePopup.opened"
						   uib-datepicker-popup="dd-MMMM-yyyy"
						   name="heightMeasurementDate"
						   id="heightMeasurementDate"
						   ng-model="height.measurement.date">
					<span class="input-group-addon transparent icon-attached">
						<i class="fa fa-calendar" ng-click="openDatePopup()"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="input-group dt-sc-team">
				<label for="heightComments">Comments</label>
				<input class="form-control left-border-none input-with-icon"
					   placeholder="Comments" type="string"
					   name="heightComments"
					   id="heightComments"
					   ng-model="height.measurement.comments">
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-6">
			<a id="height-save-btn" class="dt-sc-button medium pull-left" ng-click="saveHeight()">Save</a>
		</div>
	</div>
</form>
<br/>
<div>
	<table>
		<thead>
		<th>Date</th>
		<th>Value</th>
		<th>Comments</th>
		</thead>
		<tbody>
		<tr ng-repeat="heightMeasurement in heightMeasurements">
			<td>{{heightMeasurement.date | jsDate | date:'yyyy-MM-dd HH:mm'}}</td>
			<td>{{heightMeasurement.value}}</td>
			<td>{{heightMeasurement.comments}}</td>
		</tr>
		</tbody>
	</table>
</div>
</div>