<div id="login-form-wrapper" class="container">
	<form>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Forgot password?</h4>
			</div>

			<div class="panel-body">
				<p>Restore your My Health account. With My Health you can easily manage your health status.
					Anywhere and anytime!</p> <div class="form-group">
				<div class="input-group dt-sc-team">
					<span class="input-group-addon transparent icon-attached"><i class="fa fa-envelope"></i></span>
					<input class="form-control left-border-none input-with-icon"
						   placeholder="Email" type="text"
						   name="email"
						   ng-model="restorePasswordForm.email">
				</div>

			</div>
				<a id="restore-password-btn" class="dt-sc-button medium pull-right" ng-click="restore()">Restore</a>
			</div>

			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						Already have an account?
						<a ui-sref="login">Login</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
